.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 540px; 
    margin: 0 auto; 
    padding: 0 15px;
    direction: rtl;
  }
  
  header {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    max-width: 540px; 
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
  }
  
  .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
  }
  
  .menu-item {
    color: white;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    text-align: right;
  }
  
  .hamburger-menu {
    order: 2; 
  }
  
  .home-menu {
    order: 1; 
    margin-left: auto;
  }
  
  .menu-item:hover {
    background-color: #555;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: block;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    text-align: right;
  }
  
  .dropdown-item:hover {
    background-color: #555;
  }
  
  main {
    margin-top: 60px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  